.features {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  gap: 20px;
  margin-top: 20px;
  background-color: white;
  flex-wrap: wrap;
}

.feature-card {
  width: 32%;
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0px 4px 14px #00000010;
  transition: 0.3s ease;
  min-width: 260px;
}

.feature-card:hover {
  transform: translateY(-4px);
}

/* ========================= */
/* TABLET */
/* ========================= */
@media (max-width: 900px) {
  .features {
    padding: 30px;
  }

  .feature-card {
    width: 48%;
  }
}

/* ========================= */
/* MOBILE */
/* ========================= */
@media (max-width: 600px) {
  .features {
    flex-direction: column;
    padding: 20px;
  }

  .feature-card {
    width: 100%;
  }
}