.features {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  gap: 20px;
  margin-top: 20px;
  background-color: white;
}

.feature-card {
  width: 32%;
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0px 4px 14px #00000010;
  transition: 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-4px);
}