/* .top-header {
  height: 64px;
  background: white;
  border-bottom: 1px solid #eee;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  color: #ff5a00;
}

.restaurant-icon {
  font-size: 20px;
}

.header-right {
  cursor: pointer;
}

.user-icon {
  font-size: 20px;
} */
