.admin-layout-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.admin-body {
  display: flex;
  margin-top: 70px;
}

/* CONTENT */

.admin-content {
  margin-left: 240px;
  width: calc(100% - 240px);
  padding: 20px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  background: #fafafa;
  transition: all 0.3s ease;
}

/* MOBILE */

@media (max-width: 900px) {
  .admin-content {
    margin-left: 0;
    width: 100%;
  }
}
